/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #ffffff;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  font-size: 22px;
}

#navbar.navbar-dark {
  background-color: var(--color-blue);
}

.navbar-menu {
  display: flex;
}

.navbar-logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar-menu-item {
  color: var(--color-white);
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover {
  background-color: var(--color-dark-pink);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

/* Home */
#home {
  background: url("imgs/bg.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home-title,
.home-description {
  color: var(--color-white);
}

.home-contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* About */
#about {
  display: flex;
}

.about-title {
  margin: 0 100px;
}

.about-description h2,
.about-description p {
  text-align: left;
}

.career-jobs {
  display: block;
  margin-top: 10px;
}

.job {
  display: flex;
}

.job-logo {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-white);
}

.job-description {
  margin: 0 0 15px 10px;
}

.job-description p {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: #e7e6e6;
}

#skills img {
  width: 130px;
  height: 130px;
  border-radius: 30px;
  margin-right: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#skills h2 {
  margin: 20px 0;
}

.skills-contact {
  margin: 30px 0;
}

/* Project */
#project {
  background-color: var(--color-white);
}

.project-title {
  margin-bottom: 50px;
}

.project-area {
  display: flex;
  height: 360px;
  width: 100%;
  max-width: 80vw;
  border-radius: 4px;
  margin: 0 auto 30px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.project-left img {
  width: 360px;
  height: 360px;
  margin-right: 80px;
}

.project-right {
  text-align: left;
}

.project-right h1 {
  font-size: 38px;
}

.project-right h2 {
  font-size: 25px;
}

.project-right img {
  width: 50px;
  height: 50px;
  margin: 30px 20px;
}

.project-right .category-btn img {
  cursor: pointer;
}

/* Contact */
#contact {
  padding-top: 30px;
  background-color: var(--color-pink);
  color: var(--color-white);
}

.contact-title {
  color: var(--color-white);
}

.contact-phone,
.contact-email {
  font-size: var(--font-medium);
  margin: 10px 0;
}

.contact-github i {
  width: 100px;
  height: 100px;
  color: var(--color-white);
}
